<span class="logo-align" >
       <a class="hide"  routerLink="/about">
              <span><img class="img-fluid logoStyle" src="assets/images/sciofrelieflogo.jpg" alt="Loading.." >
              </span>
       </a>
       <h3 class="disclaimer-position">How can we help you today?</h3>
       <br>
</span>
<div class="col-md-12 margin">
       <a data-placement="top" routerLink="/questionDetails">
              <div class="hovereffect"><img class="img-fluid imgres" src="assets/images/beach.JPG" alt="Loading.." >
                     <div class="overlay">
                            <h2>I need some recommendations for managing stress</h2>
                     </div>
              </div>
       </a>
       <div class="mob-text"><p>I need some recommendations for managing stress</p></div>
       &emsp;
       &nbsp; &nbsp;
       <a data-placement="top" routerLink="/chat">
              <div class="hovereffect"><img class="img-fluid imgres" src="assets/images/bot.jpeg" alt="Loading.." >
                     <div class="overlay">
                            <h2>I have a specific question</h2>
                     </div>
              </div>
       </a>
       <div class="mob-text"> <p>I have a specific question</p></div>
</div>
<div class="disclaimer-position">
       <span>In the event of a mental health crisis...</span>
       <br>
</div>
<span>
       <h3> Go to the Student Counselling Center </h3>
</span>
<p>
       You will be seen by a clinician as soon as possible (Monday-Friday 8:30 AM - 4:30 PM; CLOSED 12:00 PM - 1:00 PM), or call (519) 253-3000 X4616.
</p>
<h3>At any time, you may call</h3>
<p>
       Good2Talk: 24/7 Student Helpline - 1-866-925-5454
</p>
<p>
       Community Crisis Centre – 24/7 crisis telephone line - 519-973-4435
</p>
<p>
       Connex Ontario 24/7 – 24/7 mental health and addictions help line - 1-866-531-2600 or chat with someone online https://www.connexontario.ca/home/Chat
</p>
<p>
       My Student Support Plan - speak to a counsellor 24/7 in up to 30 different languages - 1-844-451-9700
</p>
<h3>
       ** In the event of an emergency requiring immediate care contact 911 or visit your local emergency room.
       <br>
       <br>
</h3>

<br>
<br>
<br>