<footer>
  <div class="container hidden-xs hidden-sm">
    <img src="http://www.uwindsor.ca/sites/all/themes/uwindsor_bootstrap/images/uwindsor_shield.svg" alt="Loading.."
      class="hidden-xs hidden-sm footer-shield center-block">
  </div>
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <img src="http://www.uwindsor.ca/sites/all/themes/uwindsor_bootstrap/images/uwindsor_footer_logo.svg" alt="Loading.."
          class="center-block footer-logo">
      </div>

      <div class="col-lg-4 col-md-6">
        <ul class="list-unstyled socila-list">
          <li><a routerLink="/about">About</a></li>
          <br>

        </ul>
      </div>

      <div class="col-lg-4 emergency-services">
        <span>
          <a href="http://www.uwindsor.ca/emergency-services">
            Emergency Services for Students
          </a>
        </span>
      </div>

    </div>
  </div>
  <div class="copyright text-center">
    <p>Copyright &copy; 2020</p> &nbsp; <a href="http://www.uwindsor.ca">University of Windsor</a>
  </div>
</footer>