<div class="col-md-8 col-lg-8 uw-content-area">
    <!-- <h1 class="page-header">Sci of Relief</h1> -->
    <div class="region region-content">
        <div class="block block-system block-no-title">
            <p>
                <img alt="Sci of Relief" class="sciofrelief-logo" src="assets/images/sciofrelieflogo.jpg">
            </p>
            <p>
                <strong>Sci of Relief</strong>
                is an initiative that is built around a cohesive strategy to promote student well-being by increasing
                awareness and
                training on topics related to student mental health and wellness across the Faculty of Science, and by
                creating safe and
                inclusive environment for all students, faculty and staff.
            </p>
            <br>
            <br>
            <p>For more information about <strong>Sci of Relief</strong>, <a
                    href="http://www.uwindsor.ca/science/usci/301/sci-relief">visit this website</a></p>
            <br>
            <br>
        </div>
    </div>
</div>