<!-- <nav class="navbar navbar-dark navbar-expand-sm">
  <div class="container">
    <button class="button-color navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img height="50" alt="Responsive image"
        src="assets/images/HeaderLogo.png"></a>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="navbar-nav mr-auto buttonsPosition">
        <li class="nav-item"><a class="nav-link active header-right-buttons hidden-xs hidden-sm" href="#"
            routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link active header-right-buttons hidden-xs hidden-sm" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active header-right-buttons hidden-xs hidden-sm questionnaire" routerLink="/questionDetails">Go to
            questionnaire</a>
        </li>
      </ul>
    </div>
  </div>

</nav> -->

<nav class="navbar navbar-expand-md navbar-light ">
  <a href="#" class="navbar-brand">
      <img src="assets/images/HeaderLogo.png" class="navimg" alt="CoolBrand">
  </a>
      <span class="navbar-toggler-icon navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"></span>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        
        
      </div>
      <div class="navbar-nav ml-auto">
        <a routerLink="/" class="nav-item nav-link navstyle">Home</a>
        <a routerLink="/about" class="nav-item nav-link navstyle">About</a>
        <a routerLink="/questionDetails" class="nav-item nav-link navstyle marg">Questionnaire</a>
      </div>
  </div>
</nav>