<h3>Sci of Relief</h3>
<br>
<p>This website is an online portal for various types of counselling offered by the university. The next tab will lead
   to a series of questions which can be broadly classified as</p>

<ul>
   <dl>
      <dt><strong>
            <li>Stress Level</li>
         </strong></dt>
      <dd>An estimate of how would you rate your stress level</dd>
      <dt><strong>
            <li>Life Problems</li>
         </strong></dt>
      <dd>These questions pertain to housing,financial,legal isssues and any kind of harrasment or problem with another
         person</dd>
      <dt><strong>
            <li>Academics</li>
         </strong></dt>
      <dd>Academic problems include stress related to current course,grade issues or any other university related
         problems</dd>
      <dt><strong>
            <li>Mental Health</li>
         </strong></dt>
      <dd>These questions are related to a person's emotional well being such as mood,sleeping and heating habits or
         alcohol related issues</dd>
   </dl>
</ul>
<button mat-button class="btn btn-secondary btn-lg startButton" routerLink="/tabView" style="">Start
   Questions</button>
<br><br>