<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center headerLabel">Stress Level</h1><br>
            
        </div>
    </div>
    <div class="row">
       
            <label>
                <h2 class="text-align" name="stressRateInField" style="color: #005596; width: 100%;">Over the past WEEK, how would you
                    rate your stress (out of
                    100)?</h2>
                    <div class="col-sm-5">
                <input type="number" size="3" min="0" style="width: 200%; height: 100%;" id="levelOfStress"
                name="levelOfStress" placeholder="Enter a number ranging 1-100" [(ngModel)]="stressRate">
            </div>
            </label>
            
       
    </div><br>
</div>
<br>
<br>