@import '~bootstrap/dist/css/bootstrap.min.css';

.header-right-buttons {
    background-color: #005596;
    color: #ffffff;
    padding: 0 1.5rem;
    margin: 0 0 0 1rem;
    line-height: 4rem;
    padding-top: 0px;
    padding-right: 1.5rem;
    padding-bottom: 0px;
    padding-left: 1.5rem;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 1rem;
}

.headerLabel {
    color: #58585B;
   
}